<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Kultala Aki on 10.7.2019 23:01
  ~ Copyright (c) 2019. All rights reserved.
  ~ Last modified 7.7.2019 12:26
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kultalaaki.vpkapuri"
    android:installLocation="internalOnly">

    <!-- Crashlytics testaamista varten -->
    <!-- <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" /> -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- <uses-permission android:name="android.permission.ACTION_CALL" /> -->
    <!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="Manifest.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="kultalaaki.vpkapuri"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".BootReadyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="007dd4b848f896a9127bfeb574670d75461a0ed2" />

        <activity
            android:name=".AlarmActivity"
            android:parentActivityName=".FrontpageActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".IsItAlarmService"
            android:exported="false" />

        <receiver
            android:name=".StopIsItAlarmService"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".FrontpageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_settings" />

        <receiver
            android:name=".SmsBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS"
            android:process=":remote">
            <intent-filter android:priority="999">
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name=".MyWidgetProvider.ACTION_WIDGET_REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".PhonecallBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.READ_PHONE_STATE">
            <intent-filter android:priority="999">
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".FrontpageActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>